.navbar {
    max-width: 100vw;
    min-height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2rem;
    background: #8e2de2;
    background: -webkit-linear-gradient(to right, #4a00e0, #8e2de2);
    background: linear-gradient(to right, #4a00e0, #8e2de2);
    color: white;
}
.Logo {
    font-size: 1.5rem;
}

.mode-switch {
    display: flex;
    align-items: center;
}

input[type="checkbox"] {
    height: 0;
    width: 0;
    visibility: hidden;
}

.mode-label {
    cursor: pointer;
    text-indent: -9999px;
    width: 7vh;
    height: 3.5vh;
    background: grey;
    display: block;
    border-radius: 100px;
    position: relative;
}

.mode-label:after {
    content: "";
    position: absolute;
    top: 5%;
    left: 5%;
    width: 50%;
    height: 90%;
    background: #fff;
    border-radius: 190px;
    transition: 0.3s;
}

input:checked + label {
    background: #4a00e0;
}

input:checked + label:after {
    left: calc(100% - 5px);
    transform: translateX(-100%);
}

.mode-label-2 {
    padding-left: 5px;
}
